<h1>Create new group</h1>

<%= form_for @group do |f| %>
  <%= content_tag(:div, f.object.errors[:name].first, style: "color:red") if f.object.errors[:name].any? %>
  
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  
  <%= f.fields_for :subscriptions do |fs| %>
    
    <div>
      <%= fs.label :introduction %>
      <%= fs.text_area :introduction, rows: "5" %>
      <%= content_tag(:div, fs.object.errors[:introduction].first, style: "color:red") if fs.object.errors[:introduction].any? %>
    </div>
    
    <!-- DEBUG -->
    <% if fs.object.errors.any? %>
      <%= content_tag(:p, "Additional errors: " + fs.object.errors.first.to_s, style: "color:red")  %>
      <%= content_tag(:p, "Posted group: " + f.object.attributes.to_s, style: "color:blue") %>
      <%= content_tag(:p, "Posted subscription: " + fs.object.attributes.to_s, style: "color:blue") %>
    <% end %>
  <% end %>
  
  <%= f.submit "Create" %>
<% end %>